h1 {
    text-transform: capitalize;
}

li {
    max-height: 2.5em;
    overflow: hidden;
}


.subject {
    width: fit-content;
    font-weight: bold;
}

.email-body p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -5px;
}

.email-content {
    overflow: hidden;
    padding-top: 5px;
}

svg {
    margin-right: 5px;
    color: lightgrey;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .subject {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    li {
        max-height: 5.5em;
    }

    .date-container, .icons-container svg {
        display: none;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    li {
        max-height: 4.5em;
    }
    .date-container, .icons-container svg {
        display: none;
    }
}